
@media all {

/* TYPOGRAPHY */

body                                   {max-width:620px; min-width:430px; padding:10px 25px; margin:0 auto;
                                        font:100%/1 Cambria, Georgia, Times New Roman, Times, serif; color:#444; background:#fff;}
                                        
/* Links */
a:link, a:visited                      {border-bottom:1px solid #006699; color:#006699; text-decoration:none;}
a:visited                              {border-bottom:1px solid #004d7a; color:#004d7a;}
a:hover, a:focus, a:active             {border:0; color:#fff; background:#004d7a;}
a:visited:hover                        {background:#004d7a;}

/* Headings, paragraphs, quotes */
h1, h2, h3, h4                         {font-weight:normal; line-height:1.2em; color:#222;}
p, blockquote                          {margin:0.3em 0 1.4em; font-size:1em; line-height:1.4em;} /* 16px */
blockquote                             {padding:0 25px; border-left:3px solid #999; margin:1em 0 1.4em;}
blockquote p                           {font-family:calibri, arial, sans-serif; font-size:1em; color:#666;}

/* Lists */
ul, ol                                 {margin:0.25em 0 1.4em;}
ul                                     {list-style:none;}
ul li, ol li                           {padding:0; margin:0 0 0.5em; font-size:1em; line-height:1.4em;} /*16px*/
li li, li p                            {font-size:1em;}

/* Other */
strong                                 {font-weight:bold;}
em                                     {font-style:italic;}
small                                  {font-size:0.875em;}

/* HEADER */

body .vcard                          {padding-bottom:10px;}
body .vcard hgroup                   {padding-top:20px; margin-bottom:20px; text-align:center;}
body .vcard hgroup h1                {text-transform:uppercase; font-size:50px; line-height:1.1em; word-spacing:0.15em;}

body .vcard dl                       {line-height:1.2em; text-align:center;}
body .vcard dt                       {position:absolute; left:-9000px;}
body .vcard dd                       {margin:0.25em 0 0;}

/* SECTIONS */

body > div > section                 {clear:both; padding:0 15px; margin:2em 0 3em;}
body > div > section > h1            {padding:0 15px 0.25em; border-bottom:1px solid #ccc; margin:0 -15px 0.5em; font-size:24px;
                                        text-transform:uppercase;}

section section                        {margin:0;}
section section h1                     {font-size:18px; color:#6a8014;}
section section h1 span                {font-style:italic;}
section section h2                     {display:inline; font-size:16px; color:#cd4e0e;}
section section h2:before              {content:"~ "; color:#474747;}
section section hgroup,
 section section hgroup + p            {display:inline; margin:0; color:#cd4e0e;}
section section hgroup + p:before      {content:"/ ";}
section section ul                     {list-style:square;}
section section + section              {margin-top:1.5em;}

.work span                             {display: block;}
.contact                               {padding-top:1em; text-align:center;}
.contact ul li                         {display:inline;}
.contact ul li:before                  {content:"\00b7  ";}
.contact ul li:first-child:before      {content:"";}

section.printonly                      {display:none;}

/* end of @media all */}

@media handheld, screen and (max-width: 480px) {

body                                   {min-width:0; padding:5px; font-size:14px;}
h1, h2, h3, h4                         {color:#333; }

body > header hgroup                   {padding-top:10px;}
body > header hgroup h1                {font-size:24px;}
body > header hgroup h2                {font-size:14px; left:75px;}

body > div > section                   {padding:0; margin:2em 0;}
body > div > section > h1              {padding-left:0; padding-right:0; margin:0 0 0.5em; font-size:20px;}

section section h1                     {font-size:16px;}
section section h2                     {font-size:14px;}
section section hgroup                 {display:block;}
section section hgroup + p             {display:block; margin-bottom:0.75em; font-size:13px;}
section section hgroup + p:before      {content:"";}
section section ul                     {padding-left:15px;}

body .vcard hgroup h1                  {font-size: 34px;}
body .vcard hgroup h2                  {font-size: 18px; margin: 0px;}

/* end of @media handheld */}

@media print {

body                                   {max-width:none; width:auto; padding:5px; font-size:11pt; color:#000;}
abbr[title]                            {border:0;}
a:link, a:visited                      {border:0; color:#520;}
section a:link, section a:visited      {color:#000;}

body > header                          {border-top:0; page-break-before:auto;}
body > header hgroup                   {padding-top:0;}
body > header hgroup h1                {font-size:32pt;}
body > header hgroup h2                {font-size:17pt;}

body > div > section                   {padding:0.75em 0 0 25%; border-top:1px solid #39c; margin:2em 0 2em; page-break-before:auto;}
body > div > section > h1              {float:left; width:33%; padding:0; border:0; margin:0 0 0 -33%; font-size:16pt;
                                        text-align:left;}

section section                        {page-break-before:auto;}

section.work li a:after                {content:" (" attr(href) ")";}
section.contact 					   {display:none !important;}

section.printonly                      {display:block !important; border:none;}
section.printonly p                    {font-size:10px; color:#ccc; font-style:italic;}

.page-break                            {display:block; page-break-before:always;}

/* end of @media print */}