*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
logs
bin
develop-eggs
develop-eggs-src
dist
downloads
eggs
parts
build
*.egg-info
*.db*
.pydev*
.idea/
.sass-cache/
tmp/
personal*.cfg
py_src/project/settings/server_*.py
py_src/project/settings/personal*.py
py_src/project/settings/switcher.py
media/
bootstrap.py
*_old
django.mo
docs/_build
py_src/project/templates/500.html
