{% extends "zinnia/skeleton.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block main-content %}
<div class="site-content" role="main">
  <div class="container">
   <article>
        <header>
            <h1>About</h1>
        </header>
        <div class="post__body">

<p>My name is Mathieu Meylan. I work since +12 years in the Internet world, first as System Manager for an ISP and now more then +4 years as a Web developer with Django/Python framework.</p>

<p>Look at my professional capabilities and experience is available in my <a href="/resume/">résumé</a>.</p>

<p>Actually, I focus more in usability &amp; accessibility, but always on online matter. I try to make the Online Communications a reality by using the more occurred tips and tricks of the moment by using powerful open source software!</p>

<p>This is my personal blog. I write here – usually on topics related to front-end development and about my favorite framework Django and also about my personal online usage and hosting experiences – as part of engaging with, and learning from, other developers. But also a place to stay connected with my friends, my family and you.</p>

<h2>General license</h2>

<p>All original photographs and text on this website are licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="nofollow">Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported License</a>.</p>

<p>If you have any questions about using any of this material for commercial purposes, please email me.</p>

<h2>Software license</h2>

<p>Unless otherwise stated, all original code presented on this site is Copyright © Mathieu Meylan and dual licensed under the MIT and GNU GPLv2 licenses.</p>
        </div>
    </article>
    </div>
</div>
{% endblock %}