{% extends "zinnia/skeleton_base.html" %}
{% load i18n %}

{% block title %}{% trans "Mathieu Meylan CV" %}{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/resume.css">
{% endblock %}

{% block main-content %}
   <header class="vcard">
        <hgroup>
            <h1 class="fn">Mathieu Meylan</h1>
            <h2 class="role">Internet Application Specialist</h2>
        </hgroup>
        
        <dl>
            <dt>Website</dt>
             <dd><a class="url" href="http://matinfo.ch">http://matinfo.ch</a></dd>
            <dt>Email</dt>
            <dd><a class="email" href="mailto:m.meylan@matinfo.ch">m.meylan@matinfo.ch</a></dd>
            <dt>Mobile</dt>
            <dd class="tel">
                <span class="type"><span title="cell" class="value-title">mobile</span></span>
                <span class="value">+41 78 787 93 15</span>
            </dd>
        </dl>
    </header>
    
    <!-- ==================== ABOUT ==================== -->
    <section>
        <h1>About me</h1>
        <p>I manage complex Web projects, specially I give advise and support on all technical aspect from the back-end solution to the front-end interaction with the final implementation in production.</p>
        <p>I create cutting edge Web application with the respect of the W3C standard. I'm particularly focused in accessibility, usability and interaction design with a preference of working with the open source technology.</p>
        <p>I have also a strong engineering background on Linux operating system requested high availability for Internet services include an excellent knowledge on network management, security and monitoring.</p> 
        <p>I'm currently responsible for all technical aspects for the Orange Communications SA online platform &#171; orange.ch &#187; and I offer internal and external consulting in the development of new online initiative in Switzerland.</p>
    </section><!-- end ABOUT -->

    <!-- ==================== EXPERTISE ==================== -->
    <section>
        <h1>Expertise</h1>

        <section>
            <header>
                <hgroup>
                    <h1>Professional capabilities</h1>
                </hgroup>
            </header>    
            <ul>
                <li>Code generalisation, modularisation and reuse.</li>
                <li>Progressive enhancement using cutting-edge CSS and JavaScript.</li>
                <li><abbr title="Search Engine Optimisation">SEO</abbr> tracking and optimisation using semantic HTML and Microformats</li>
                <li>Front-end coding standards and cross-browser testing</li>
                <li>Performance optimisation</li>
                <li>User interface design (accessibility, usability and interaction design)</li>
                <li>Site planning and architecture</li>
                <li>Hosting deployment - Linux, Apache, nginx, memcached, gunicorn, Tomcat, MySQL, PostgresSQL, Python, Django, Django-CMS, Perl, Bash, PHP</li>
            </ul>
        </section>
        
        <section>
            <header>
                <hgroup>
                    <h1>Languages</h1>
                </hgroup>
            </header>    
            <ul>
                <li>Expert in hand-coded HTML and CSS</li>
                <li>Good knowledge of the HTML 4.01, XHTML 1.0, HTML5, <abbr title="Accessible Rich Internet Applications Suite">WAI-ARIA</abbr>, CSS2.1 and CSS3 specifications</li>
                <li>Proficiency in the use of jQuery and unobtrusive JavaScript</li>
                <li>Long experience working on <abbr title="Django framework">Django</abbr>/Python and PHP projects</li>
            </ul>
        </section>

    </section><!-- end EXPERTISE -->
    
    <!-- ==================== EXPERIENCE ==================== -->
    <section>
        <h1>Experience</h1>

        <section>
            <header>
                <hgroup>
                    <h1>Senior Web Developer / Architect</h1>
                    <h2>at Orange Communication SA</h2>
                </hgroup>
                <p>December 2010&#8211;Present</p>
            </header>
            <ul>
                <li>Back-end &amp; front-end web development</li>
                <li>Work on Day's web presence and system management</li>
                <li>Enhance information architecture &amp; user experience</li>
                <li>Technical and Web design consulting for online projects with external and internal partners</li>
                <li>SEO technical specialist - tracking, reporting, optimization</li>
        </section>

        <section>
            <header>
                <hgroup>
                    <h1>Senior Application Developer / System Manager</h1>
                    <h2>at Electronlibre SA</h2>
                </hgroup>
                <p>May 2007&#8211;November 2010</p>
            </header>
            <ul>
                <li>Back-end architecture and coding with Django framework and MySQL database</li>
                <li>Front-end designing interfaces with HTML, JQuery, CSS2 and Flash integration</li>
                <li>Server architecture, consulting, deployment and support of customers Web sites</li>
                <li>IT Management, deployment, maintenance, monitoring and support</li>
            </ul>
        </section>

        <section>
            <header>
                <hgroup>
                    <h1>Application Developer III</h1>
                    <h2>as Cablecom GmbH</h2>
                </hgroup>
                <p>2004&#8211;2007</p>
            </header>
            <ul>
                <li>Development and maintenance of services for the ISP platform hispeed.ch, include more than 600'000 private customers (~250 servers)</li>
                <li>Responsible of all Internet Services for Urbanet Swiss Romandie provider</li>
            </ul>
        </section>

        <section>
            <header>
                <hgroup>
                    <h1>Engineer System</h1>
                    <h2>at Cablecom GmbH</h2>
                </hgroup>
                <p>2001&#8211;2004</p>
            </header>
            <ul>
                <li>In charge of the Internet platform of Urbanet Swiss Romandie provider - installation, maintenance, security and monitoring</li>
                <li>Back-end and front-end development of Web site in PHP/MySQL/XHTML/CSS2.1</li>
                <li>Implementation of monitoring tools for the ISP network Switzerland backbone and servers linked with SMS/Pager alert gateway</li>
                <li>Professional and residential customers care - email, FTP, DNS, migration and hosting</li>
            </ul>
        </section>
        
        <section>
            <header>
                <hgroup>
                    <h1>System Developer</h1>
                    <h2>at Urbanet SA</h2>
                </hgroup>
                <p>2000&#8211;2001</p>
            </header>
            <ul>
                <li>Web site and middleware development in PHP/MySQL and Perl</li>
                <li>MS Access maintenance and development</li>
                <li>IT support</li>
            </ul>
        </section>
    </section><!-- end EXPERIENCE -->
    
    <!-- ==================== EXAMPLE WORK ==================== -->
    <section>
        <h1>Some Work</h1>
        <ul>
            <li><a rel="external nofollow" href="http://orange.ch" title="http://orange.ch">Orange Switzerland mobile provider</a> ~ now <span>back-end &amp; front-end development, hosting management and online consulting</span></li>
            <li><a rel="external nofollow" href="http://hautehorlogerie.org" title="http://hautehorlogerie.org">Fondation de la haute horlogerie</a> ~ 2009 <span>back-end &amp; front-end 20% development</span></li>
            <li><a rel="external nofollow" href="http://mudac.ch" title="http://mudac.ch">Musée de design et d'arts appliqués contemporains</a> ~ 2008 <span>back-end &amp; front-end development and deployment</span></li>
            <li><a rel="external nofollow" href="http://voyages-tcs.ch" title="http://voyages-tcs.ch">TCS Voyage &amp; Loisirs</a> ~ 2008 <span>front-end 90% development</span></li>
        </ul>
    </section><!-- end EXAMPLE WORK -->
    
    <!-- ==================== EXAMPLE WORK ==================== -->
    <section>
        <h1>Continuous Training</h1>
        <ul>
            <li><a rel="external nofollow" href="http://www.lpi.org/linux-certifications/programs/lpic-2/exam-202">LPI202</a> Advanced Linux Network Administration ~ 5days / 2005</li>
            <li><a rel="external nofollow" href="http://suned.sun.com/Portal/US/94/SL-265.html">SL-265</a> Java technology for structured programmers ~ 5days / 2003</li>
            <li><a rel="external nofollow" href="https://www.redhat.com/elearning/rh253_red_hat_linux_networking_services_and_security_series/">RH253</a> Red Hat Linux Networking &amp; Security Administration ~ 4days / 2002</li>
            <li><a rel="external nofollow" href="http://www.cisco.com/web/learning/le3/current_exams/640-816.html">ICND</a> Interconnecting Cisco Network Devices ~ 5days / 2000</li>
            <li><a rel="external nofollow" href="http://www.experteach.de/">VoIP</a> Voice Over IP ~ 2days / 2000</li>
            <li><a rel="external nofollow" href="http://www.experteach.de/">TCPIP</a> TCP/IP Protocols ~ 2days / 2000</li>
        </ul>
    </section><!-- end EXAMPLE WORK -->
    
    <!-- ==================== EDUCATION ==================== -->
    <section>
        <h1>Education</h1>
        
        <section>
            <hgroup>
                <h1>Technical School of Ste-Croix / Switzerland &#45; ETSC</h1>
                <h2>Technician <abbr>ET</abbr></h2>
            </hgroup>
            <p>1997&#8211;1999</p>
            <p>This school is now integrated into the <abbr title="Profesional Center of Nord Vaudois">CPNV</abbr> in Switzerland, the equivalent formation is now named <i>Technician ES en computer sience</i>.</p>
        </section>
    </section><!-- end EDUCATION -->
    
    <section class="contact">
        <ul class="left">
            <li><a href="mailto:mat@matinfo.ch">Email</a></li>
            <li><a rel="external" href="http://twitter.com/matinfo">Twitter</a></li>
            <li><a rel="external" href="http://github.com/matinfo">Github</a></li>
            <li><a rel="external" href="http://linkedin.com/in/matinfo">LinkedIn</a></li>
        </ul>
        <ul class="right">
            <li><a href="/blog/">back to blog </a></li>
        </ul>
    </section>
{% endblock %}
