{% extends "zinnia/skeleton_base.html" %}
{% load zinnia_tags i18n %}{% get_tags as entry_tags %}

{% block meta-keywords %}django, blog, zinnia, mathieu, meylan, personal, technologies, linux, open source {{ entry_tags|join:", "}}{% endblock %}

{% block link-rel-home %}<link rel="home" href="{% url zinnia_entry_archive_index %}" />{% endblock %}
  
{% block header %}
<header class="site-header" role="banner">
  <div class="container">
  {% include "inc/header.html" %}
  </div>
</header>
{% endblock %}
  
{# block sidebar %}{% endblock #}

{% block main-content %}
<div class="site-content" role="main">
  <div class="container">
  
  {% if user.is_authenticated %}
    <div class="tools">
    <nav>
      <ul>
      {% block admin_tools %}{% endblock %}
        <li>
          <a href="/admin/logout/">logout</a>
        </li>
      </ul>
    </nav>
    </div>
  {% endif %}

  {% block content %}
  <h3>The content block need to be overrided!</h3>
  {% endblock %}
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="site-footer" role="contentinfo">
  <div class="container">
  {% include "inc/footer.html" %}
  </div>
</footer>
{% endblock %}
