{% load i18n zinnia_tags %}

<a href="https://twitter.com/matinfo" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @matinfo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p class="site-footer__links"><a href="https://twitter.com/matinfo">Twitter</a> <a href="https://github.com/matinfo">GitHub</a> <a href="http://matinfo.com/feed/">RSS</a> <a href="mailto:mat@matinfo.ch">Email</a> <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="sitemap visuallyhidden">sitemap</a></p>
<small>Copyright © 2012 Mathieu Meylan - powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ZINNIA_VERSION}}</a></small>